{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/lost.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Lost/Found Items</h1>
            <span class="subheading">Find your lost items here! Or help someone find theirs!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title"><u>Lost Items:</u></h2>
        <hr>
        {% for post in all_posts %}
        {% if post.user_choice == 'Lost': %}
        <div class="post-preview">
          <a href="{{ url_for('lost_found', item_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.item_desc[:30]|safe}}...
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            {% if current_user.id == post.author_id %}
            <a href="{{url_for('delete_item', item_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        <h2 class="post-title"><u>Found Items:</u></h2>
        <hr>
        {% for post in all_posts %}
        {% if not post.user_choice == 'Lost': %}
        <div class="post-preview">
          <a href="{{ url_for('lost_found', item_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.item_desc[:30]|safe}}...
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            {% if current_user.id == post.author_id %}
            <a href="{{url_for('delete_item', item_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        <hr>


        <!-- New Post -->
        {% if current_user.is_authenticated: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_lostfound')}}">Lost/Found Something</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}