{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Lost/Found{% endblock %}
{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/lost.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Lost and Found</h1>
            <span class="subheading">Describe what you Lost/Found in the campus</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='item_desc') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>



{% include "footer.html" %}
{% endblock %}