{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Lost/Found{% endblock %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/lost.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta">Posted by
              <a href="{{post.author.email}}">{{post.author.name}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.item_desc|safe }}
          <hr>


<!--           Comments Area -->
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='comment') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

          <div class="col-lg-8 col-md-10 mx-auto comment">
            {% for comment in post.comments: %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="{{ comment.comment_author.email | gravatar }}"/>
                    </div>
                    <div class="commentText">
                      {{comment.comment|safe}}
                      <span class="date sub-text">{{comment.comment_author.name}}</span>
                    </div>
                </li>
              </ul>
            {% endfor %}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}