{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta">Posted by
              <a href="#">{{post.stack_author.name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.question|safe }}
          <hr>
            {% if current_user.id == post.author_id %}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_stackpost', stackpost_id=post.id)}}">Edit Post</a>
            </div>
            {% endif %}


<!--           Comments Area -->
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='stackcomment') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

          <div class="col-lg-8 col-md-10 mx-auto comment">
            {% for comment in post.stackcomments: %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="{{ comment.stack_comment_author.email | gravatar }}"/>
                    </div>
                    <div class="commentText">
                      {{comment.comment|safe}}
                      <span class="date sub-text">{{comment.stack_comment_author.name}}</span>
                    </div>
                </li>
              </ul>
            {% endfor %}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}